.contact {
    margin-top: -1rem;
}
#contact-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7rem;
}
.contact-bg-img {
    display: none;
}
.contact-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-title {
    color: var(--lght-txt);
    font-size: var(--size-5xl);
    display: flex;
    justify-self: center;
    background-clip: text;
    font-weight: 500;
    margin-top: -10rem;    
    text-align: center;
}
#form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input {
    padding: 10px;
    width: 550px;
}
input::placeholder, .contact-btns {
    font-family: "Montserrat", "Roboto", Arial,
    Helvetica, sans-serif;
}
#contact1-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
#contact2-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
#contact2-form input {
    width: 525px; 
}
#btn-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.contact-btns {
    display: block;
    padding: 8px 16px;
    background-color: #252525;
    font-size: var(--size-sm);
    margin-top: 16px;
    width: 1000px;
    color: #bdbdbd;
    text-decoration: none;
    border: none;
    transition: background-color .25s;
}
.contact-btns:hover {
    background-color: #313131;
}

/* xxs = (extra extra small) */
@media (min-width: 320px) {
    input {
        width: 92px;
    }
    #contact2-form input {
        width: 225px; 
    }
    #btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .contact-btns {
        width: 100px;
    }
    .contact-bg-img {
        margin-top: -12em;
    }
}

/* xs = (extra small) */
@media (min-width: 475px) {
    input {
        width: 142px;
    }
    #contact2-form input {
        width: 325px; 
    }
    #btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .contact-btns {
        width: 100px;
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    .contact-bg-img {
        position: absolute;
        opacity: 20%;
        z-index: -1;
        width: 100%;
        display: block;
    }
    input {
        width: 192px;
    }
    #contact2-form input {
        width: 425px; 
    }
    #form {
        width: 550px;
    }
    #btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    #btn-container {
        gap: 0;
    }
    .contact-btns {
        width: 450px;
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    input {
        width: 292px;
    }
    #contact2-form input {
        width: 525px; 
    }
    .contact-btns {
        width: 1000px;
    }
    .contact-bg-img {
        margin-top: -15em;
    }
    .footer {
        margin-top: 7rem;
    }
}
