.gallery-bg {
    background-color: var(--bg-color2);
    width: 100%;
    padding-bottom: 1px;   
}
#gallery-title {
    font-size: var(--size-4xl);
    margin-top: 3.5rem;    
    margin-bottom: 2.5rem;
    color: var(--gld);
    font-weight: 500;
}
#img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.gallery-imgs {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.432);
}

/* xs = (extra small) */
@media (min-width: 475px) {
    #gallery-title {
        margin-bottom: 2rem;
    }
    .gallery-imgs {
        width: 12rem;
    }
} 

/* sm = (small) */
@media (min-width: 640px) {
    #gallery-title {
        font-size: var(--size-5xl);
        margin-bottom: -1rem;
    }
    .gallery-imgs {
        width: 15rem;
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    #gallery-title {
        font-size: var(--size-5xl);
    }
} 

/* xl = (extra large) */
@media (min-width: 1280px) {
    #gallery-title {
        font-size: var(--size-6xl);
        margin-top: 4rem;
        margin-bottom: -.5rem;
    }
}
