@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#font {
   font-family: "DM Serif Text";
   font-weight: 700;
}
.img-container {
    position: relative;
    display: inline-block;
}
#hero-img {
    display: block;
    width: 100%; 
    margin-top: 114px;
}
.image-container, #hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-container, #hero-est {
    position: absolute;
    margin-top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--size-xs);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.445);
    color: var(--drk-txt);
}
#hero-title {
    margin-top: 58px;
    text-align: center;
    font-family: "Anton", "Roboto Condensed", Arial, sans-serif;
    background: linear-gradient(to left, #0f0f0f, #55514a, #0f0f0f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.445);
    animation: slideUpAndFade 1s ease-out forwards;
}

#hero-est {
    animation: slideUpAndFade 1.5s ease-out forwards;
}

/* xxs = (extra extra small)  */
@media (min-width: 320px) {
    #font {
        font-size: var(--size-base);
        letter-spacing: 0;
    }
    #hero-title #gallery-title {
        font-size: var(--size-2xl);
    }
    #hero-title {
        line-height: 1.5rem;
        letter-spacing: .1rem;
    }
}

/* xs = (extra small) */
@media (min-width: 475px) {
    #font {
        font-size: var(--size-lg);
    }
    #hero-title {
        font-size: var(--size-3xl);
        line-height: 1.9rem;
    }
    .image-container, #hero-est {
        font-size: var(--size-sm);
    }
} 

/* sm = (small) */
@media (min-width: 640px) {
    #font {
        font-size: var(--size-2xl);
    }
    #hero-title {
        font-size: var(--size-4xl);
        line-height: 2.3rem;
        letter-spacing: .35rem;
    }
    .image-container, #hero-est {
        font-size: var(--size-base);
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    #font {
        font-size: var(--size-4xl);
    }
    #hero-title {
        font-size: var(--size-5xl);
        line-height: 3.5rem;
    }
    .image-container, #hero-est {
        font-size: var(--size-xl);
    }
} 

/* xl = (extra large) */
@media (min-width: 1280px) {
    #font {
        font-size: var(--size-5xl);
    }
    #hero-title {
        font-size: var(--size-6xl);
        line-height: 4.7rem;
    }
    .image-container, #hero-est {
        font-size: var(--size-2xl);
    }
}
