.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1vh;
}
#services-container {
    position: relative;
    text-align: center;
    height: auto;
}
#services-desc {
    animation: opacity .8s;
}
#services-title, #services-desc {
    color: var(--lght-txt);
    margin-top: 20rem;
}
#services-prices h2 {
    padding: 10px;
    font-weight: normal;
    color: var(--txt);
    line-height: 3rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
#services-prices h2.loaded {
    opacity: 1; 
    transform: translateY(0); 
}
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--drk-txt);
    color: var(--txt);
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 60rem;
}

/* xxs = (extra extra small) */
@media (min-width: 320px) {
    #services-container {
        margin-top: 30em;
    }
    #services-title {
        font-size: var(--size-4xl);
    }
    #services-desc {
        margin-top: .5rem;
        font-size: var(--size-xs);
    }
    #services-prices {
        margin-top: 5rem;
        width: 340px;
    }
    #services-prices h2 {
        font-size: var(--size-sm);
    }
}

/* xs = (extra small) */
@media (min-width: 475px) {
    #services-container {
        margin-top: 40em;
    }
    #services-title {
        font-size: var(--size-5xl);
    }
    #services-desc {
        margin-top: .5rem;
        font-size: var(--size-sm);
    }
    #services-prices {
        margin-top: 5rem;
        width: 400px;
    }
    #services-prices h2 {
        font-size: var(--size-base);
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    #services-title {
        font-size: var(--size-6xl);
    }
    #services-desc {
        margin-top: .5rem;
        font-size: var(--size-lg);
    }
    #services-prices {
        margin-top: 5rem;
        width: 540px;
    }
    #services-prices h2 {
        font-size: var(--size-xl);
    }
    #services-prices h2 {
        margin: 3px; 
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    .services {
        height: 15vh;
    }
    #services-title {
        font-size: var(--size-7xl);
    }
    #services-desc {
        margin-top: .5rem;
        font-size: var(--size-xl);
    }
    #services-prices {
        margin-top: 5rem;
        width: 700px;
    }
    #services-prices h2 {
        font-size: var(--size-2xl);
    }
    #services-prices h2 {
        margin: 5px; 
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .services {
        height: 25vh;
    }
    #services-title {
        font-size: var(--size-8xl);
    }
    #services-desc {
        margin-top: .5rem;
        font-size: var(--size-2xl);
    }
    #services-prices {
        margin-top: 5rem;
        width: 800px;
    }
}
