.story {
    padding-top: 10px;
}
#story-title {
    font-size: var(--size-3xl);
    margin-bottom: 4rem;
    background: linear-gradient(to right, #aa6f00,
    #bb6a00, #aa6f00);
    display: flex;
    justify-self: center;
    background-clip: text;
    color: transparent;
    font-weight: 500;
    margin-top: 3rem;
}
.story-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: -5rem;
}
#story-desc {
    width: 35ch;
    color: #797979;
    font-weight: 500;
}
.story-bg-img {
    opacity: 20%;
    position: absolute;
    width: 100%;
    z-index: -1;
    position: center;
}
#story-img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.432);
}

/* xxs = (extra extra small)  */
@media (min-width: 320px) {
    .section-title {
        font-size: var(--size-xl);
    }
    .section {
        margin-top: 1rem;
    }
    #story-desc {
        font-size: var(--size-xs);
    }
    #story-img {
        width: 200px;
    }
    .story-bg-img {
        display: none;
    }
}

/* xs = (extra small) */
@media (min-width: 475px) {
    #story-title {
        font-size: var(--size-2xl);
    }
    .section {
        margin-top: 2rem;
    }
    #story-desc {
        font-size: var(--size-sm);
    }
} 

/* sm = (small) */
@media (min-width: 640px) {
    #story-title {
        font-size: var(--size-3xl);
    }
    .section {
        margin-top: 4rem;
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    .section {
        margin-top: 5rem;
    }
    #story-img {
        width: 300px;
    }
    .story-bg-img {
        display: block;
        margin-top: 5rem;
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    #story-title {
        font-size: var(--size-4xl);
    }
    .section {
        margin-top: 5rem;
    }
    .section-title {
        font-size: var(--size-4xl);
    }
    #story-desc {
        font-size: var(--size-base);
    }
    .story-bg-img {
        margin-top: -5%;
    }
} 

/* xl = (extra large) */
@media (min-width: 1280px) {
    #story-title {
        font-size: var(--size-5xl);
    }
    #story-desc {
        font-size: var(--size-lg);
    }
}
